<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Administrador de banco de dados FullStack</h3>
                            <div class="time">Atual</div>
                        </div><!--//upper-row-->
                        <div class="company">TCI Business Process Outsourcing São Paulo, Brasil</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Atualmente trabalho como administrador de banco de dados, realizando 
                            manutenções preventivas e otimização de processos para administração de 
                            ambientes de desenvolvimento a produção. Trabalhando sempre proativamente
                             para garantir a performance e disponibilidade</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desenvolvedor FullStack</h3>
                           <div class="time">2014 - 2015</div> 
                        </div><!--//upper-row-->
                        <div class="company">TCI Business Process Outsourcing São Paulo, Brasil</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Atuando no desenvolvimento de novas funcionalidades e manutenção aos sistemas
                            existentes na empresa ao cliente, com a função fullstack desde o backend , frontend e banco de 
                            dados das aplicações. </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->