<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projetos</h2>
                <div class="intro">
                    <p>Esses são alguns de meus projetos.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">DashBoaord Pedido</a></span> - <span class="project-tagline">
                        Aplicação web para Gerenciamente de ordens de serviço, utilizando Angular2 e CouchDB.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Arduino - Sensor de Garagem e Estacionamento</a></span> - 
                    <span class="project-tagline">
                        Projeto Android Mobile para auxiliar no Estacionamento, utilizando Arduino, Java. </span>
                </div><!--//item-->
            </section><!--//section-->