<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
    <div class="skillset">

        <div class="item">
            <h3 class="level-title">Cubo Mágico</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="100%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Java</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Cultura DevOps</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Angular2</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="75%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">TypeScript</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Arduino</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">SQLServer</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Postgres</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Oracle database</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="50%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">CouchDB</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="55%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">PouchDB</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="55%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">MongoDB</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="40%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
            <h3 class="level-title">Jboss & Tomcat</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="88%">
                </div>
            </div>
            <!--//level-bar-->
        </div>
        <!--//item-->

    </div>
</section>
<!--//skills-section-->